@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lato:ital,wght@0,400;0,900;1,100&family=Noto+Sans:ital@1&family=Oswald&family=Playfair+Display:wght@700;900&family=Poppins:wght@200;300&family=Roboto:wght@500&family=Rowdies:wght@700&display=swap');


:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --pink: #86cbf8;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a:hover {
  color: var(--pink) !important;
}

.App {
  display: flex;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.navbar {
  /* flex: 0.2; */
  margin-top: -50px;
  margin-bottom: 10%;
}

.main {
 
background:linear-gradient(180deg, #311050 6%, rgba(51,15,83,1) 41%, rgba(20,18,57,1) 63%, rgba(9,19,48,1) 50%);
padding: 20px;
width:90%;
margin:auto;
margin-top: 5%;
border: 1px solid #26186350;
border-radius: 20px;
box-shadow:
  rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

  /* margin-top: 10%; */
}
.routes {
  display: flex;
  flex-direction:column;
  width: 100%;
  color: white;
  margin-top: 1%;
  padding: 20px;
}

.nav-container {
 

  display: flex;
  color: white;
  font-size: 20px;
}

.logo-container {
  background: #12202412;
  display: flex;
  padding: 20px;
  flex:0.5;
}
.logo {
  margin: 0 0 0 15px;
}

.logo a {
  color: white;
}
.menu-control-container {
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .main {
  }
}

@media screen and (max-width: 1170px) {
  .main {
   
  }
}

@media screen and (max-width: 1000px) {
  .main {
    
  }
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
    overflow: hidden;
  }

  .navbar {
    color: #b6f700;
    font-weight: 900;
    font-size: 19px;
    width:100%;
    background: #e6ffcd08;
     width: 38%;
  }

  

  .nav-container {
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 100;
    /* background-color: var(--bgSecondary); */
  }

  .menu-control-container {
    display: block !important;
  }

  .ant-menu {
    position: absolute;
    right: 0px;
    background-color: rgb(36, 7, 49);
  }

  .home-title {
    font-size: 1.4rem !important;
   
  }
  .show-more {
    font-size: 1.3rem !important;
  }
}

.global_stats {
  font-size: 18px;
  color: #79fb79;
  font-weight: 600;
  background: #840bf560;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.heading {
  margin-left: 6%;
  font-size: 2rem;
  color: rgb(253, 250, 255);
}

.coin-detail-container {
  margin: 30px;
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--pink);
}

.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--pink) !important;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--pink);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--pink);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover {
  background-color: var(--bgSecondary);
}

@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0px;
  }
  .coin-detail-container {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
}

.select-news {
  width: 180px;
}
.news-card {
  min-height: 300px !important;
}
.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}
.news-title {
  width: 70%;
}

.news-image-container .img {
  width: 100px;
  height: 100px;
}
.news-card p {
  color: black;
  margin: 10px 0px !important;
}
.provider-container {
  display: flex;
  justify-content: space-between;
}
.provider-name {
  margin-left: 10px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;
}
.chart-title {
  color: #0071bd !important;
}
.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.price-change {
  font-weight: 900 !important;
}
.current-price {
  margin-top: 0px !important;
  font-weight: 900 !important;
}

.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom:40px;
  padding: 10px;
  border-bottom: darkslateblue;
  border-bottom: 0.5px solid rgb(172, 255, 47);
  font-size: 15px;

}
.show-more {
  margin-top: 0px !important;
}
.exchange-image {
  margin: 0px 10px !important;
}
.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}
.crypto-card-container {
  min-height: 65vh !important;
}
.crypto-card {
  min-width: 250px;
  line-height:1.8;
  font-size: 18px;
  color:#fffdff;
  background-color: #1F2155;
  /* box-shadow: rgb(4, 224, 253) 0px 20px 30px -10px; */
  /* box-shadow: rgba(252, 21, 21, 0.712) 0px 2px 4px 0px, #0daff5e5 0px 2px 16px 0px; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.crypto-card .crypto-image {
  width: 70px;
  margin-top: 20px;
  border: #2c343a 1px solid;
  border-radius: 40%;
  padding:10px;
  background-color:rgba(99, 187, 247, 0.24);
  box-shadow: rgba(6, 223, 252, 0.322) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.select-timeperiod {
  width: 200px !important;
  margin-top: 20px !important;
  color:black;
  
}

.select-timeperiod > placeholder{
   color: #001529;
}

.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

canvas{
  background-color:  #1F2155;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  
}